{{ define "main" }}
  <h1>😋ようこそ、fukuyoka.devへ！😋</h1>
  <p class="center-text">
  このサイトは私の美味しいと思った食事を記録するためのブログです。<br>
  たくさん食べて大きく、健やかにふくよかになろう！🫄
  </p>
  <h2>最近の投稿</h2>
  <ul class="post-grid">
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ range $posts.ByDate.Reverse | first 100 }}
      <li>
        <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
          {{ partial "post-thumb.html" . }}
        </a>
      </li>
    {{ else }}
      まだ記事がありません。
    {{ end }}
  </ul>
{{ end }}
