TUNNEL_TOKEN=
CLOUD_FLARE_DNS_API_KEY=
ROOT_DOMAIN=fukuyoka.dev
DOMAIN=www.fukuyoka.dev
EMAIL=yukijya@big-a-k.com

# R2 (image hosting)
R2_ENDPOINT=
R2_BUCKET=fukuyoka-photo
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=