TUNNEL_TOKEN=token
CLOUD_FLARE_DNS_API_KEY=api_key
ROOT_DOMAIN=fukuyoka.dev
DOMAIN=www.fukuyoka.dev
EMAIL=yukijya@big-a-k.com

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_TABLE=table
