  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>if(localStorage.getItem('theme')==='dark')document.documentElement.classList.add('dark');</script>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/gallery.css">
    {{ if eq .Type "search" }}
    <link rel="stylesheet" href="/css/search.css">
    {{ end }}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBQD0DQCZL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DBQD0DQCZL');
    </script>
    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
    {{ if .IsHome }}
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
    {{ end }}
    {{/* Enable KaTeX when page or site params request math */}}
    {{ $enableMath := or .Params.math site.Params.math }}
    {{ if $enableMath }}
    {{ partial "math.html" . }}
    {{ end }}
  </head>
